@import "tailwindcss";

/*My custom style */
@theme inline {
  --color-foreground: #F5F5F5;
  --color-primary: #1DAD76;
  --color-secondary: #327A5E;
  --color-tertiary: #676767;
  --color-surface-bright: #333333;
  --color-surface: #2A2A2A;
  --color-surface-dim: #1F1F1F;
  --color-background: #191919;
  --color-dark: #0F0F0F;
}

body {
  background: #191919;
  color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}


